# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Server & Database (NICHT ins öffentliche Repo!)
server.js
*.sql
NOTIZEN_TODOS.md
SEASON_MANAGEMENT.md
public/